<div class="container">
    
    <div class="row">
        <div class="col">
            <div *ngFor="let ch of characters">
                <div   class="card" style="width: 18rem;"  (click)="openModal(ch.id,ch.name)">
                    <img [src]="ch.thumbnail" class="card-img-top" alt="...">  
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <ul *ngFor="let l of lgs" class="list-group">
                    <li class="list-group-item">{{l.log_url_api}} / {{l.time  | date:'medium'}}</li>
                </ul>
            
            </div>
        </div>
      
    </div>
   
    

</div>
